#img-producto{
    width: 170px; border: 1px solid gray; border-radius:10px
}

#img-marca{
    width: 100px; border: 1px solid gray; margin-left: 10px;
   
}

.circulo {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}